.cover__list__item:hover {
    border-color: var(--pink);
}

.button:hover {
    background-image: var(--buttongradient);
}

.button--gradient:hover {
    background-image: var(--buttongradientreverse);
}

.button--white:hover {
    background-image: var(--buttongradientreverse);
    color: var(--whitetext);
}

@keyframes ellipses {
    to {
        width: 196px;
        height: 196px;
    }
}

@keyframes ellipses-reversed {
    from {
        width: 196px;
        height: 196px;
    }
    to {
        width: 117px;
        height: 117px;
    }
}

.studying-process__card:hover .studying-process__ellipse {
    animation-name: ellipses;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.studying-process__card:not(:hover) .studying-process__ellipse {
    animation-name: ellipses-reversed;
    animation-duration: 0.7s;
}

.qna__main__section:hover .qna__main__section__hidden-text {
    height: 240px;
}