.cover__list__item:hover {
    border-color: var(--pink);
}

.button:hover {
    background-image: var(--buttongradient);
}

.button--gradient:hover {
    background-image: var(--buttongradientreverse);
}

.button--white:hover {
    background-image: var(--buttongradientreverse);
}