:root {
    --mainbackground: #21093A;
    --whitetext: #fff;
    --darkpurple: #4C217A;
    --lightpurple: #F4F2FD;
    --lightborder: #f2f2f2;
    --purple: #8900C9;
    --pink: #E1016E;
    --violet: #961975;
    --buttongradient: linear-gradient(to right,
    #E5006D, #C90171, #961975, #6F1F78, #56207A, #4C217A);
    --buttongradientreverse: linear-gradient(to left,
    #E5006D, #C90171, #961975, #6F1F78, #56207A, #4C217A)
}

.label {
    display: none;
    color: var(--lightpurple);
}

.button {
    border-radius: 10px;
    border: 1px solid var(--violet);
    background-color: transparent;
    color: var(--whitetext);
    padding: 20px 30px;
    font-weight: 500;
    line-height: 1;
    transition: background-image 0.5s;
}

.button--white {
    color: var(--mainbackground);
    background-color: var(--whitetext);
    transition: background-image 0.5s color 0.5s;
}

.button--gradient {
    background-image: var(--buttongradient);
    border-style: none;
    transition: background-image 0.5s;
}

.button--padding-less {
    padding: 16px 20px;
}

.button--larger-for-no-reason {
    width: 250px;
}

.button-for-forms {
    width: 100%;
    margin-bottom: 12px;
}

.background-ellipse--medium {
    position: absolute;
    width: 531px;
    height: 531px;
    background-color: var(--pink);
    border-radius: 100%;
    filter: blur(300px);
    top: 83px;
    right: 60px;
    z-index: -1;
}

.background-ellipse--large {
    position: absolute;
    width: 750px;
    height: 750px;
    background-color: var(--pink);
    border-radius: 100%;
    filter: blur(300px);
    top: -351px;
    left: -448px;
    z-index: -1;
}

.background-ellipse--purple {
    position: absolute;
    width: 604px;
    height: 604px;
    background-color: var(--purple);
    border-radius: 100%;
    filter: blur(300px);
    top: 159px;
    right: 300px;
    z-index: -1;
}

.oval {
    position: absolute;
    width: 256px;
    height: 795px;
    background-color: var(--whitetext);
    border-radius: 100%;
    filter: blur(110px);
    top: 100px;
    right: 433px;
    transform: rotate(-5.6deg);
    opacity: 0.7;
    z-index: -1;
}

.upper-in-z-axes {
    z-index: 2;
}

/* cover styles */

.cover {
    width: 100%;
    padding: 20px 370px 143px;
    background-color: var(--mainbackground);
    color: var(--whitetext);
    position: relative;
    overflow: hidden;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1em;
}

.cover__list {
    display: flex;
    gap: 30px;
    text-transform: capitalize;
}

.cover__list__item {
    padding: 11px 0 10px; /* костыльный padding, не забудь про него*/
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s;
}

.cover__title {
    margin: 80px 0 0;
    width: 720px;
    position: relative;
}

.cover__title-text {
    font-family: Dela Gothic One, Arial, sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1.3;
}

.wb-logo {
    width: 76px;
    height: 76px;
    border-radius: 12px;
    background-image: var(--buttongradient);
    transform: rotate(5.2deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    box-shadow: 8px 4.5px 0 var(--violet);
    position: absolute;
    inset: 128px 0 0 610px;
}

.cover__title-paragraph {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin-top: 30px;
}

.bold {
    font-weight: 700;
}

.cover__info__list {
    margin: 37px 0 9px;
    display: flex;
    gap: 40px;
}

.cover__info__list__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.cover__info__text--huge {
    font-family: Dela Gothic One;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
}

.cover__info__text--aligned {
    position: absolute;
}

.cover__buttons {
    display: flex;
    gap: 20px;
}

.cover__image {
    position: absolute;
    width: 680px;
    inset: 0 0 0 974px;
    pointer-events: none;
}

.cover__box-with-lector-name {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--violet);
    gap: 4px;
    padding: 16px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 4px 4px 0 #5F0B57;
    right: 360px;
    bottom: 173px;
}

.cover__lector-name {
    font-size: 20px;
    line-height: 1;
    text-transform: capitalize;
}

/* target-audience styles */

.target-audience {
    margin: 100px 370px 0;
}

.target-audience__title {
    color: var(--darkpurple);
    font-family:  Dela Gothic One;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 0 40px 0;
}

.grid-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.grid-table__item {
    padding: 20px;
    border-radius: 16px;
    box-shadow: 5px 10px 20px var(--lightpurple);
    border: 3px solid var(--lightpurple);
}

.grid-table__item__title {
    font-family: Dela Gothic One;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    color: var(--darkpurple);
    text-transform: capitalize;
    margin-bottom: 20px;
}

.grid-table__item__text {
    color: var(--darkpurple);
}

.grid-table__item__icon {
    margin: 0 0 23px auto;
    display: block;
}

.grid-table__item--first {
    grid-row: 1;
    grid-column: 1/4;
}

.grid-table__item--second {
    grid-row: 1;
    grid-column: 4/span 2;
}

.grid-table__item--third {
    grid-row: 2;
    grid-column: 1/span 2;
}

.grid-table__item--fourth {
    grid-row: 2;
    grid-column: -1/-4;
}

/* studying-process styles */

.studying-process {
    margin: 100px 270px 0;
    padding: 50px 100px 63px;
    background-color: var(--mainbackground);
    border-radius: 20px;
}

.studying-process__title {
    color: var(--whitetext);
    font-family: Dela Gothic One;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.studying-process__cards-list {
    display: flex;
    gap: 20px;
    align-content: start;
    flex-wrap: wrap;
}

.studying-process__card {
    width: 580px;
    border: 1px solid var(--pink);
    border-radius: 16px;
    padding: 20px;
    position: relative;
    min-height: 200px;
    overflow: hidden;
}

.studying-process__ellipse {
    position: absolute;
    width: 117px;
    height: 117px;
    background-color: var(--pink);
    border-radius: 100%;
    filter: blur(60px);
    opacity: 0.6;
    top: -13px;
    left: 0;
    z-index: -1;
}

.studying-process__card__title {
    color: var(--whitetext);
    font-family: Dela Gothic One;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}

.studying-process__card__text {
    color: var(--whitetext);
}

.studying-process__card__list {
    color: var(--whitetext);
    margin: 10px 0 0 -15px;
}

/* course-programm styles */

.course-programm {
    margin: 100px 370px 0;
}

.course-programm__flex-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}

.course-programm__title {
    font-family: Dela Gothic One;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--darkpurple);
    margin: 0 0 40px 0;
}

.course-programm__section {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px 20px var(--lightpurple);
    border: 1px solid var(--lightborder);
    position: relative;
}

.course-programm__section--another .course-programm__module-title {
    color: var(--purple);
}

.course-programm__section--another .duration {
    color: var(--purple);
}

.course-programm__section--another .course-programm__content__card--colorful {
    background-color: var(--purple);
}

.course-programm__module-title {
    font-family: Dela Gothic One;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: var(--pink);
    margin: 0 0 12px 0;
    width: fit-content;
}

.course-programm__content__title {
    font-family: Dela Gothic One;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.3;
    color: var(--darkpurple);
    width: fit-content;
    margin: 0 0 38px 0;
}

.course-programm__module__icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.course-programm__content {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}

.course-programm__content__card {
    padding: 20px 0;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
}

.course-programm__content__card--colorful {
    background-color: var(--pink);
    color: var(--whitetext);
    padding: 20px;
}

.course-programm__content__card__title {
    font-family: Dela Gothic One;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
    text-transform: capitalize;
    margin: 0 0 15px 0;
}

.course-programm__content__card__list {
    list-style-image: url(../images/square.svg);
    margin: 0 0 0 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-wrap: break-word;
}

.course-programm__content__card__list--galochka {
    list-style-image: url(../images/galochka.svg);
}

.duration {
    font-family: Dela Gothic One;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: var(--pink);
    margin-top: 10px;
}
/* participation styles */

.participation {
    margin: 100px 370px 0;
    padding: 60px 100px 74px;
    background-color: var(--mainbackground);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.parcticipation__info {
    color: var(--whitetext);
    width: 450px;
}

.participation__info__title {
    font-family: Dela Gothic One;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.45;
    margin-bottom: 20px;
}

.participation__form {
    width: 380px;
    
}

.parcticipation-form__style {
    display: flex;
    flex-direction: column;
    color: var(--whitetext);
}

input[type="text"], input[type="number"] {
    padding: 12px 0;
    border-bottom: 1px solid var(--pink);
}

.input__name {
    margin-bottom: 20px;
}

.input__telephone {
    margin-bottom: 30px;
}

.policy-agreement {
    font-size: 12px;
    color: grey;
}

.policy-agreement__link {
    text-decoration: underline;
    text-underline-position: under;
}

.background-ellipse--purple--participation-position{
    top: -194px;
    right: -200px;
    width: 423px;
    height: 423px;
    filter: blur(150px);
}

.background-ellipse--medium--participation-position{
    top: 14px;
    left: -243px;
    filter: blur(150px);
    width: 451px;
    height: 451px;
}

/* price-list styles */

.price-list {
    margin: 80px 0 0;
    width: 100%;
    padding: 80px 370px 92px;
    background-color: var(--lightborder);
}

.price-list__title {
    font-family: Dela Gothic One;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.45;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.price-list__cards-section {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.price-list__card {
    padding: 20px 20px 33px;
    border-radius: 16px;
    width: 380px;
    min-height: 630px;
    background-color: var(--whitetext);
    display: flex;
    flex-direction: column;
}

.price-list__card--dark {
    position: relative;
    color: var(--whitetext);
    background-color: var(--mainbackground);
    overflow: hidden;
}

.price-list__card--dark .length{
    background-color: var(--whitetext);
    color: var(--mainbackground);
}

.price-list__card--dark .price-list__card__header__title
{
    text-transform: uppercase;
}

.background-ellipse--medium--price-list {
    width: 266px;
    height: 266px;
    top: -100px;
    left: 50px;
    filter: blur(150px);
}

.price-list__card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.price-list__card__header__title {
    font-family: Dela Gothic One;
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
}

.margin-for-list {
    margin-bottom: 20px;
}

.course-programm__content__card__title--price {
    font-family: Gilroy;
    font-weight: 600;
}

.length {
    font-size: 16px;
    color: var(--whitetext);
    border-radius: 20px;
    padding: 5px 15px;
    background-color: var(--darkpurple);
    display: inline;
}

.course-programm__content__card__list-item--crossed-out {
    text-decoration: line-through;
    opacity: 0.5;
}

.price-list__cons {
    margin-bottom: 30px;
}

.align-button {
    align-self: center;
    justify-self: flex-end;
    margin-top: auto;
}

/* about styles */

.about {
    margin: 100px 275px 0;
}

.background-ellipse--purple__about {
    width: 467px;
    height: 467px;
    filter: blur(70px);
    right: 180px;
}

.about__lector {
    padding: 207px 595px 180px 95px;
    position: relative;
}

.cover__image--about {
    position: absolute;
    bottom: 0;
    right: 150px;
}

.about__lector__info__title {
    font-family: Dela Gothic One;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.course-programm__content__card__list--about {
    width: 460px;
    gap: 20px;
}

/* about__results supposed using of js */

.about__results {
    padding: 50px 140px;
    background-color: var(--lightborder);
    border-radius: 20px;

}

.about__results__title {
    font-family: Dela Gothic One;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}

.about__results__main-section {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.about__results__main-section__back {
    cursor: pointer;
}

.about__results__main-section__forward {
    cursor: pointer;
    transform: rotate(180deg);
}

.about__results__main-section__image {
    max-width: 960px;
    max-height: 550px;
    min-width: 500px;
    min-height: 250px;
}


/* qna styles */

.qna {
    margin: 100px 570px 0 373px;
}

/* application styles */

.applications {
    margin: 100px 370px;
    padding: 60px 97px 66px 100px;
    background-color: var(--mainbackground);
    border-radius: 20px;
}

/* footer styles */

.footer {
    width: 100%;
    padding: 60px 370px 180px;
    background-color: var(--mainbackground);
}