:root {
    --mainbackground: #21093A;
    --darkpurple: #4C217A;
    --lightpurple: #F4F2FD;
    --lightborder: #f2f2f2;
    --purple: #8900C9;
    --pink: #E1016E;
    --buttongradient: linear-gradient(to right,
     #E5006D, #C90171, #961975, #6F1F78, #56207A, #4C217A);
}

/**/

.cover {
    width: 100%;
    padding: 20px 370px 0;
    background-color: var(--mainbackground);
}

/**/

.target-audience {
    margin: 100px 370px 0;
}

/**/

.studying-process {
    margin: 100px 270px 0;
    padding: 50px 100px 63px;
    background-color: var(--mainbackground);
    border-radius: 20px;
}

/**/

.course-programm {
    margin: 100px 370px 0;
}

/**/

.participation {
    margin: 100px 370px 0;
    padding: 60px 98px 74px 100px;
    background-color: var(--mainbackground);
    border-radius: 20px;
}

/**/

.price-list {
    margin: 80px 0 0;
    width: 100%;
    padding: 80px 370px 92px;
}

/**/

.about {
    margin: 100px 275px 0;
}

/**/

.qna {
    margin: 100px 570px 0 373px;
}

/**/

.applications {
    margin: 100px 370px;
    padding: 60px 97px 66px 100px;
    background-color: var(--mainbackground);
    border-radius: 20px;
}

/**/

.footer {
    width: 100%;
    padding: 60px 370px 180px;
    background-color: var(--mainbackground);
}